*{
    font-family: 'monaco', monospace;
    margin-bottom: 30px;

}
body {
    background-color: #A35C7A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
h1{
    color: #212121;
    text-align: center;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    max-width: 550px;
    padding: 20px;
    background-color: #C890A7;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(122, 88, 104, 0.13);
    border: 10PX solid #FBF5E5;
}

.container h1, .container p {
    text-align: center;
    font-size: calc(1.5rem + 1.5vw);
    color: #212121;
}

input, .container p {
    text-align: center;
    margin: 10px 0;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    background-color: #fbf5e5;
    color: #212121;
    font-size: 1rem;
    font-family: "Sour Gummy", sans-serif;
    
}
button{
    background-color: #A35C7A;
    color: #212121;
    border: 1px rgba(255, 255, 255, 0) solid;
    padding: 6px;
    font-size: 20px;
    border-radius: 10px;
    width: 15vw;
    cursor: pointer;
    font-family: "Sour Gummy", sans-serif;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.233);
    color: rgb(231, 179, 203);
    border: 1px rgb(231, 179, 203) solid;
    transition: all 0.2s ease-in-out;
}
.outputt, #output{
    max-width: 400px;
    font-family: "Sour Gummy", sans-serif;
}
::placeholder {
    color: #212121;
    opacity: 1; /* Firefox */
}

#decodedOutput{
    font-family: "Sour Gummy", sans-serif;
font-weight: bold;
}